body {
  background-image: url("./images/carnaby-gilany-j9zFZSKPMbE-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Varela Round", sans-serif;
}

h1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 72px;
}

section > p {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
}

.show-month-year {
  font-size: 1.5rem;
}

.calendar-body {
  margin: 5rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.today {
  color: red;
}

.button-prev,
.button-next {
  background-color: transparent;
  border-left: transparent;
  border-top: transparent;
  width: 1rem;
  height: 1rem;
  margin: 1rem;
  color: red;
  border-color: darkcyan;
}

.button-prev {
  transform: rotate(135deg);
}

.button-next {
  transform: rotate(-45deg);
}
